.user-details {
    padding: 32px 24px 48px;
    border-radius: var(--card-border-radius);
}

.user-details__general-info {
    display: grid;
    grid-template-columns: fit-content(70px) 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
}

.user-details__avatar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.user-details__avatar img {
    border-radius: 50%;
}

.user-details__bio {
    grid-column: 1/3;
    grid-row: 4 / 5;
    margin-top: 32px;
}

.user-details__bio--na {
    opacity: 75%;
}

.user-details__gh-data {
    margin: 24px 0;
    padding: 18px 14px;
    border-radius: var(--info-border-radius);
}

.three-col {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.three-col .col {
    flex-basis: calc(100 / 3 * 1%);
}

h1 {
    font-size: var(--h1-font-size-sm);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-line-height);
}

h4 {
    font-size: var(--h4-font-size-sm);
    font-weight: var(--h4-font-weight);
    line-height: var(--h4-line-height);
}

h2 {
    font-size: var(--h2-font-size-sm);
    font-weight: var(--h2-font-weight);
    line-height: var(--h2-line-height);
}

h2 a:visited,
h2 a:link {
    color: var(--lm-accent);
}

h3 {
    font-size: var(--h3-font-size-sm);
    line-height: var(--h3-line-height);
    font-weight: var(--h3-font-weight);
    margin-bottom: 8px;
}

.user-details__links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 16px;
}

.user-details__link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.user-details__link svg {
    flex-basis: 20px;
    margin-right: 14px;
}

.user-details__link--na {
    opacity: 50%;
}

/* LIGHT STYLES */

.light .user-details {
    background-color: var(--lm-white);
    box-shadow: var(--lm-box-shadow);
}

.light h1,
.light h4 {
    color: var(--lm-tertiary);
}

.light .user-details__gh-data {
    background-color: var(--lm-body-background);
}

.light .user-details__link a:visited,
.light .user-details__link a:link {
    color: var(--lm-secondary);
}

.light .user-details__link svg {
    fill: var(--lm-secondary);
}

/* DARK STYLES */

.dark .user-details {
    background-color: var(--dm-secondary);
}

.dark .user-details__gh-data {
    background-color: var(--dm-primary);
}

.dark .user-details__link a:visited,
.dark .user-details__link a:link {
    color: var(--dm-white);
}

.dark .user-details__link svg {
    fill: var(--dm-white);
}

/* 480px */
@media only screen and (min-width: 30em) {
    h1 {
        font-size: var(--h1-font-size-md);
    }

    h4 {
        font-size: var(--h4-font-size-md);
    }
}

/* 620px */
@media only screen and (min-width: 38.75em) {
    .user-details {
        padding: 40px;
    }

    .user-details__general-info {
        grid-template-columns: fit-content(117px) 1fr;
        grid-template-rows: auto;
        column-gap: 40px;
    }

    .user-details__name {
        align-self: end;
    }

    .user-details__at {
        align-self: center;
    }

    .user-details__bio {
        margin-top: 24px;
    }

    .user-details__gh-data {
        margin: 32px 0;
        padding: 16px 32px;
    }

    .three-col {
        text-align: left;
    }

    h1 {
        font-size: var(--h1-font-size-lg);
    }

    h4 {
        font-size: var(--h4-font-size-lg);
    }

    h2 {
        font-size: var(--h2-font-size-lg);
    }

    h3 {
        font-size: var(--h3-font-size-lg);
        margin-bottom: 0;
    }

    .user-details__links {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }

    .user-details__blog {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .user-details__twitter {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

/* 900px */
@media only screen and (min-width: 56.25em) {
    .user-details {
        padding: 48px;
    }

    .user-details__general-info {
        grid-template-columns: fit-content(117px) repeat(2, 1fr);
    }

    .user-details__avatar {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }

    .user-details__name {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: center;
    }

    .user-details__at {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .user-details__joined {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        justify-self: end;
        align-self: center;
    }

    .user-details__bio {
        margin-top: 20px;
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }

    .user-details__gh-data {
        margin-left: calc(117px + 40px);
    }

    .user-details__links {
        margin-left: calc(117px + 40px);
    }
}
