@import-normalize;

:root {
    --website-padding-sm: 24px;
    --website-padding-md: 36px;
    --website-padding-lg: 48px;
    --website-padding-xlg: 96px;
    --website-font: 'Space Mono', monospace;
    --max-content-width: 730px;
    --base-font-size: 62.5%;
    --body-font-size-sm: 1.3rem;
    --body-font-size-lg: 1.5rem;
    --body-line-height: 1.7;
    --lm-primary: #697c9a;
    --lm-secondary: #4b6a9b;
    --lm-tertiary: #2b3442;
    --lm-accent: #0079ff;
    --lm-accent-hover: #60abff;
    --lm-white: #fefefe;
    --lm-body-background: #f6f8ff;
    --lm-box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
    --dm-primary: #141d2f;
    --dm-secondary: #1e2a47;
    --dm-accent: #0079ff;
    --dm-header-buttom-hover: #90a4d4;
    --dm-white: #fff;
    --error-text: #f74646;
    /* HEADINGS */
    --h1-font-size-sm: 1.6rem;
    --h1-font-size-md: 2.1rem;
    --h1-font-size-lg: 2.6rem;
    --h1-line-height: 1.5;
    --h1-font-weight: bold;
    --h4-font-size-sm: 1.6rem;
    --h4-font-size-md: 1.9rem;
    --h4-font-size-lg: 2.2rem;
    --h4-line-height: 1.5;
    --h4-font-weight: bold;
    --h2-font-size-sm: 1.3rem;
    --h2-font-size-lg: 1.6rem;
    --h2-line-height: 1.5;
    --h2-font-weight: normal;
    --h3-font-size-sm: 1.1rem;
    --h3-font-size-lg: 1.3rem;
    --h3-line-height: 1.5;
    --h3-font-weight: normal;
    --input-border-radius: 15px;
    --card-border-radius: 18px;
    --info-border-radius: 10px;
    --button-border-radius: 10px;
    --media-min: 20em; /* 320px */
    --media-tablet: 30em; /* 480px */
    --media-tablet-sm-desktop: 38.75em; /* 620px */
    --media-small-desktop: 48em; /* 768px */
    --media-sm-lg-desktop: 56.25em; /* 900px */
    --media-large-desktop: 64em; /* 1024px */
    --media-max: 90em; /* 1440px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    border: 0;
}

html {
    width: 100%;
    font-size: var(--base-font-size);
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: var(--website-padding-sm);
    min-height: 100vh;
    font-size: var(--body-font-size-sm);
    line-height: var(--body-line-height);
    overflow-x: hidden;
    font-family: var(--website-font);
}

img {
    width: auto;
    max-width: 100%;
    vertical-align: middle;
}

button,
input {
    font-family: var(--website-font);
}

a:visited,
a:link {
    text-decoration: none;
}

a:visited:hover,
a:link:hover {
    text-decoration: underline;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.app {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.app__content {
    flex-basis: var(--max-content-width);
}

/* LIGHT STYLES */

.light body {
    background-color: var(--lm-body-background);
    color: var(--lm-secondary);
}

/* DARK STYLES */

.dark body {
    background-color: var(--dm-primary);
    color: var(--dm-white);
}

/* 480px */
@media only screen and (min-width: 30em) {
    body {
        padding: var(--website-padding-sm) var(--website-padding-md);
        font-size: var(--body-font-size-lg);
    }
}

/* 620px */
@media only screen and (min-width: 38.75em) {
    body {
        padding: var(--website-padding-md) var(--website-padding-lg);
    }
}

/* 768px */
@media only screen and (min-width: 48em) {
    body {
        padding: var(--website-padding-md) var(--website-padding-xlg);
    }
}
